:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --Light_Green: #638a17;
  --Dark_Green: #16322a;
}
body {
  font-family: Arial, Helvetica, sans-serif
}
.container {
  max-width: 1200px;
}

.headerImg {
  position: relative;
  height: 70vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .headerImg {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .headerImg {
    height: 285px;
  }
}

@media screen and (max-width: 576px) {
  .headerImg {
    height: 225px;
  }
}
@media screen and (max-width: 465px) {
  .headerImg {
    height: 165px;
  }
}

#heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  margin-top: -30px;
}



#heroText{
  color: #fff;
  z-index: 2;
  background: rgba(255,255,255,0.65);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  color: #2e4e6b;
}

h2{
  color: #2e4e6b;
  font-size: 1.2rem;
}

@media screen and (min-width: 576px){
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  #heroText{
    height: auto;
    width: auto;
    display: block;
  }
}
@media screen and (min-width: 768px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px){
  h1{
    font-size: 4rem;
  }
}

video {
  width: 100%
  }



.reviews .card {
  background: #f5f5f5;
}

a,
.cta {
  color: var(--Dark_Green);
}

.about{
  padding: 100px;
  background: #c2c2c2;
}

@media screen and (max-width: 768px){
  .recovered{
    margin-top: 60px;
  }
}

.reviews .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviewImg {
  -webkit-box-shadow: 10px 10px 5px #aaaaaa;
          box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 1rem;
  border: solid 2px #fff;
  /* max-width: 400px; */
}

.testimonials {
  background: #eee;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
          box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

#servicesContainer {
  /* background-color: #b9c1bf; */
  padding: 0 !important;
}

.services .card {
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
          box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  border-radius: 0.5rem !important;

}

.services .card img {
  border-radius: 0.5rem !important;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}




div.services div.card {
  /* margin: 50px !important; */
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

div.services div.card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/* Modals */
.modal-header {
  border: none;
}

.modal-content {
  background: #fff;
  color: #000;
  border-radius: 1rem;
}

@media screen and (max-width: 776px) {
  .modal-body img {
    margin: 10px 0;
  }
}

.cntImage {
  padding: 5px !important;
}

.btn {
  background: var(--Dark_Green);
  border: none;
  margin: 0 auto;
  border-radius: 1rem;
}

.btn:hover {
  background: var(--Light_Green);
}


footer {
  background: #a6a6a6;
  color: white;
  margin: 0 !important;
}

footer, footer a {
  color: #000;
  font-size: 30pt;
  padding: 30px;
}

footer a:hover {
  color: var(--Light_Green);
}
